<div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="https://unsplash.it/250/72" width="250">
    </a>
    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
        <span class="visually-hidden">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-row-reverse" id="navcol-1">
        <ul class="navbar-nav nav-buttons">

            <li class="nav-item">
                <a class="nav-link" href="index.html"><strong>Home</strong></a>
            </li>

            <li class="nav-item dropdown dd-menu">
                <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><strong>People</strong>&nbsp;</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="people/faculty.html">Faculty</a>
                    <a class="dropdown-item" href="people/ongoing.html">Ongoing PhD Students</a>
                    <a class="dropdown-item" href="people/alumni.html">Alumni PhD Students</a>
                    <a class="dropdown-item" href="people/project_staff.html">Project Staff</a>
                    <a class="dropdown-item" href="people/btech.html">B.Tech Students</a>
                    <a class="dropdown-item" href="people/intern.html">Interns</a>
                </div>
            </li>

            <li class="nav-item dropdown dd-menu">
                <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><strong>Publication</strong>&nbsp;</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="publication/journal.html">Journal</a>
                    <a class="dropdown-item" href="publication/conference.html">Conference</a>
                    <a class="dropdown-item" href="publication/book_chapters.html">Book Chapter</a>
                </div>
            </li>
            
            <li class="nav-item dropdown dd-menu">
                <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><strong>News&nbsp;</strong></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="news/recent_publications.html">Recent Publications</a>
                    <a class="dropdown-item" href="news/mrs_lab_tools.html">MRSLab Tools</a>
                    <a class="dropdown-item" href="news/media.html">Media Coverage</a>
                    <a class="dropdown-item" href="news/workshop_training.html">Workshop &amp; Training</a>
                    <a class="dropdown-item" href="news/field_visits.html">Field Visits</a>
                </div>
            </li>

        </ul>
    </div>
</div>